*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/gradlew.bat
/simpleandroidasynclibrary/consumer-rules.pro
/.idea/
/simpleandroidasynclibrary/src/main/java/com/starsoft/simpleandroidasynclibrary/example/
